body{
    background-color: rgb(228, 197, 157);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: rgb(46, 46, 46);
}

h1:hover{
    color: rgb(144, 7, 163);
    cursor: pointer;
    text-decoration: underline 2px;
}

h2{
    text-align: center;
    color: rgb(1, 139, 148);
}

h2:hover{
    color: rgb(148, 2, 2);
    cursor: pointer;
    text-decoration: underline wavy 2px;
}

img{
    padding-top: 15px;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}