/* font for headings and buttons */
/* font for all other text */
/* button font size value */
/* movie container font size value */
/* Brand colours */
body { /* will apply style to entire page */
  background-color: #231651; /* using a variable that was given a value earlier */
}

header { /* to style the header */
  padding: 16px;
  background-color: #4DCCBD;
  font-family: "Teko", serif;
  display: grid;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
header #logo {
  position: absolute;
  left: 0;
  margin-left: 16px;
}
header #logo h1 {
  color: #231651;
  font-weight: normal;
  margin: 0%;
}
header nav ul {
  text-align: center;
}
header nav ul li {
  margin-top: 16px;
  display: inline;
  list-style-type: none;
  color: #231651;
}
header button { /* for the button  in the header */
  background-color: #231651;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  text-align: center;
  font-family: "Teko", serif;
  font-size: 2em;
  position: absolute;
  right: 0;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

main { /* styling the main section */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.movie1, .movie2, .movie3, .movie4, .movie5, .movie6 { /* styling the movie containers */
  font-family: "Lato", serif;
  font-size: 1.5em;
  background-color: #4DCCBD;
  box-shadow: 13px 13px #070410;
}
.movie1 button, .movie2 button, .movie3 button, .movie4 button, .movie5 button, .movie6 button { /* for the buttons in the movie containers */
  background-color: #231651;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  font-family: "Teko", serif;
  font-size: 2em;
  border-radius: 16px;
}

/* ________________________ TARGET DEVICE: DESKTOP ________________________ */
@media (min-width: 1025px) {
  header {
    gap: 48px;
    box-shadow: 0px 10px #EEF36A;
  }
  header #logo h1 {
    font-size: 3em;
  }
  header nav ul li {
    padding: 48px; /* large spacing between nav options */
  }
  .movie1 { /* styling the movie container */
    display: grid;
    grid-template-rows: 50%; /* sets size for rows */
    height: 460px;
    margin-top: 48px;
  }
  .movie1 img {
    width: 100%;
    height: 250px;
  }
  .movie1 #written {
    display: flex;
    margin: 16px;
  }
  .movie1 #written p {
    margin: 0%;
    padding: 16px;
  }
  .movie1 #written button {
    width: 80%;
    margin: 16px;
  }
  .second {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 48px;
  }
  .second .movie2 {
    width: 100%;
    height: 820px;
  }
  .second .movie2 img {
    width: 100%;
  }
  .second .movie2 #written {
    margin: 16px;
  }
  .second .movie2 #written p {
    margin: 0%;
    padding-bottom: 16px;
  }
  .second .movie2 #written button {
    width: 100%;
  }
  .second .movie3 {
    width: 100%;
    height: 820px;
  }
  .second .movie3 img {
    width: 100%;
  }
  .second .movie3 #written {
    margin: 16px;
  }
  .second .movie3 #written p {
    margin: 0%;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .second .movie3 #written button {
    margin-top: 16px;
    width: 100%;
  }
  .movie4, .movie5, .movie6 {
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .movie4 img, .movie5 img, .movie6 img {
    width: 50%;
  }
  .movie4 #written, .movie5 #written, .movie6 #written {
    position: relative;
    margin: 16px;
  }
  .movie4 #written p, .movie5 #written p, .movie6 #written p {
    margin: 0%;
  }
  .movie4 #written button, .movie5 #written button, .movie6 #written button {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
/* ________________________ TARGET DEVICE: TABLET ________________________ */
@media (min-width: 721px) and (max-width: 1024px) {
  header {
    gap: 32px;
    box-shadow: 0px 10px #EEF36A;
  }
  header #logo h1 {
    font-size: 3em;
  }
  header nav {
    text-align: center;
  }
  header nav ul li {
    padding: 32px;
  }
  header button {
    top: 0;
    margin-top: 16px;
  }
  main {
    max-width: 900px;
    gap: 32px;
    -moz-column-count: 2;
         column-count: 2;
    margin: 32px;
  }
  .movie1, .movie2, .movie3, .movie4, .movie5, .movie6 {
    margin-bottom: 32px;
  }
  .movie1 img, .movie2 img, .movie3 img, .movie4 img, .movie5 img, .movie6 img {
    width: 100%;
  }
  .movie1 #written, .movie2 #written, .movie3 #written, .movie4 #written, .movie5 #written, .movie6 #written {
    margin: 16px;
    position: relative;
    height: 580px;
  }
  .movie1 #written button, .movie2 #written button, .movie3 #written button, .movie4 #written button, .movie5 #written button, .movie6 #written button {
    margin-bottom: 16px;
    width: 100%;
    height: 200px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
/* ________________________ TARGET DEVICE: MOBILE ________________________ */
@media (min-width: 360px) and (max-width: 720px) {
  header {
    height: 50px;
  }
  header #logo {
    padding-left: 16px;
  }
  header #logo h1 {
    font-size: 2em;
  }
  header ul {
    display: none;
  }
  header button {
    padding-left: 16px;
    padding-right: 16px;
  }
  main {
    margin-top: 16px;
  }
  .movie1, .movie2, .movie3, .movie4, .movie5, .movie6 {
    box-shadow: none;
    margin-bottom: 16px;
  }
  .movie1 img, .movie2 img, .movie3 img, .movie4 img, .movie5 img, .movie6 img {
    width: 100%;
  }
  .movie1 #written, .movie2 #written, .movie3 #written, .movie4 #written, .movie5 #written, .movie6 #written {
    margin: 16px;
    position: relative;
  }
  .movie1 #written button, .movie2 #written button, .movie3 #written button, .movie4 #written button, .movie5 #written button, .movie6 #written button {
    margin-bottom: 16px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=index.css.map */