header{ 
    background-color: rgb(82, 79, 79);
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    padding: 1px;
    margin: -10px;
    margin-left: -9px;
    margin-right: -8px;
    display: flex;
    opacity: 0.95;

    h1{
        margin-left: 70px;
        margin-top: 38px;
        text-decoration: overline 2px;
        text-align: left;
    }

    ul{
        font-size: 18px;
        text-align: right;
        margin-top: 45px;
        margin-left: 100px;
    }
    li{
        display: inline;
        padding: 10px;
    }
}

body{
    background-image: url(images/shop.jpg); 
    background-size:cover;
    background-repeat:no-repeat; 
}

footer{ 
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(82, 79, 79);
    color: white;
    text-align: center;
    padding: 9px;
    margin-top: 34%;
    margin-left: -9px;
    margin-right: -8px;
    opacity: 1;
}